.scene-theme-color-red {
    background-color: rgba(255, 0, 0, 0.724);
}
.scene-theme-color-yellow {
    background-color: rgba(196, 202, 29, 0.724);
}
.scene-theme-color-blue {
    background-color: rgba(0, 0, 255, 0.724);
}
.scene-theme-color-purple {
    background-color: rgba(225, 0, 255, 0.724);
}
.scene-theme-color-black {
    background-color: rgba(0, 0, 0, 0.724);
}
.scene-theme-color-whitesmoke {
    background-color: rgba(245, 245, 245, 0.724);
}