.editor {
  width: 100%;
  height: 100%;
}

.editor-left, .editor-right {
  position: absolute;
  width: 270px;
  top: 0;
  bottom: 0;
}

.editor-left {
  left: 0;
  overflow-y: scroll;
}

.editor-left-item {
  width: 250px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: move;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-height: 100px;
  position: relative;
}

.editor-left-item > span {
  position: absolute;
  top: 0;
  left: 0;
  background: deepskyblue;
  color: white;
  padding: 4px;
}

.editor-left-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  opacity: 0.2;
}

.editor-top {
  position: absolute;
  right: 280px;
  left: 280px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editor-top-button {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: white;
}

.editor-top-button + .editor-top-button {
  margin-left: 3px;
}

.editor-right {
  right: 0;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.editor-right-form {
  overflow-y: scroll;
  height: 100%;
  padding-left: 8%;
  padding-right: 8%;
}

.editor-container {
  padding: 80px 270px 0;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.editor-container-canvas {
  overflow: scroll;
  height: 100%;
}

.editor-container-canvas_content {
  margin: 20px auto;
  background: #f5f5f5;
  position: relative;
}

.editor-block {
  position: absolute;
}

.editor-block::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.editor-block-focus::after {
  border: 2.4px dashed lightskyblue;
}

.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 3px dashed lightskyblue;
}

.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 3px dashed lightskyblue;
}

.shape-point {
  position: absolute;
  background: #fff;
  border: 1px solid #59c7f9;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 1;
}
/*# sourceMappingURL=editor.css.map */