.editor {
  width: 100%;
  height: 100%;

  &-left, &-right {
    position: absolute;
    width: 270px;
    top: 0;
    bottom: 0
  }

  &-left {
    left: 0;

    &-item {
      width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      padding: 20px;
      box-sizing: border-box;
      cursor: move;
      user-select: none;
      min-height: 100px;
      position: relative;

      > span {
        position: absolute;
        top: 0;
        left: 0;
        background: deepskyblue;
        color: white;
        padding: 4px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ccc;
        opacity: 0.2;
      }
    }
  }

  &-top {
    position: absolute;
    right: 280px;
    left: 280px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
      //pointer-events:none;
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, .3);
      user-select: none;
      cursor: pointer;
      color: white;

      & + & {
        margin-left: 3px;
      }
    }
  }

  &-right {
    right: 0;
    padding-top: 80px;
    box-sizing: border-box;

    &-form {
      overflow-y: scroll;
      height: 100%;
      padding-left: 8%;
      padding-right: 8%;
      &-tabs{
        //padding: 32px;
        color: #6b778c;
      }
    }
  }

  &-container {
    padding: 80px 270px 0;
    height: 100%;
    box-sizing: border-box;

    &-canvas {
      overflow: scroll;
      height: 100%;

      &_content {
        margin: 20px auto;
        background: #f5f5f5;
        position: relative;
      }
    }
  }
}

.editor-block {
  position: absolute;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.editor-block-focus {
  &::after {
    border: 2.4px dashed lightskyblue;
  }
}

.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 3px dashed lightskyblue;
}

.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 3px dashed lightskyblue;
}

.shape-point {
  position: absolute;
  background: #fff;
  border: 1px solid #59c7f9;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 1;
}